<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  
  <div class="col-md-8">
    <% if @user.links.any? %>
      <h3>Links (<%= @user.links.count %>)</h3>
      <ul class="links">
        <%= render @links %>
      </ul>
      <%= will_paginate @links %>
    <% end %>
    <%= link_to "New Link", "/links/new", class: "btn" %>
  </div>
</div>